*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

table {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #ff4d4d; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255, 77, 77, 0.7); 

   
    border-collapse: collapse;

   
    font-family: 'Poppins', sans-serif;
    color: white;

}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ff4d4d; 
}

th {
    background-color: #ff4d4d; 
}

tr:hover {
    background-color: rgba(255, 77, 77, 0.3); 
}

td:hover {
    background-color: rgba(255, 77, 77, 0.5); 
    cursor: pointer;
}


td:hover::before {
    content: attr(data-title);
    position: absolute;
    padding: 10px;
    background-color: #ff4d4d; 
    color: white;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.7); 
}
